@model IEnumerable<UserManagement_Project.Models.UserDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
<div>
    @Html.ActionLink("Add User", "Create", "", new { @class = "btn btn-primary" })
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFormat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateUser", new { userId = item.UserId }, new { @class = "btn btn-success" }) |
                <button id="delete" class="btn btn-danger pad" onclick="ModalAction('Delete Conformation!', 'Are you sure you want to delete this User?', 'Delete', this, Delete)" data-id="@item.UserId">Delete</button>
            </td>
        </tr>
    }
</table>

<div class="modal" id="genericModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" id="action" class="btn btn-primary">
                    <span class="ui-button-text">

                    </span>
                </button>
                <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function ModalAction(title, body, actionname, event, Fn) {
            var id = $(event).data("id");
            var modal = $("#genericModal");
            $(modal).find("#action").show();
            $(modal).find(".modal-title").text(title);
            $(modal).find(".modal-body").text(body);
            $(modal).find("#action span").text(actionname);

            $(modal).show();

            $(modal).find("#close").click(function () {
                $(modal).hide();
            });

            $(modal).find("#action").click(function () {
                Fn(id, $(modal));
            });
        }

        var Delete = function (id, modal) {
            $.ajax({
                url: "../Users/Delete",
                cache: false,
                type: 'POST',
                data: { id: id },
                success: async function (data) {
                    $(modal).hide();
                    await swal('Deleted', data, 'error');
                    location.reload();
                }
            });
        }
    </script>
}
